<%- include('partials/header') %>


<div class="ui main text container">
    <h1>Your Sucessfully Ordered All The Books</h1>
    <table class="ui celled table">
        <thead>
            <tr>
            <th>Student User Name</th>
            <th>Book Name</th>
            <th>Author</th>
            <th>Genre</th>
            </tr>
        </thead>
        <tbody>
          <% books.forEach(book => { %>
          <tr>
            <td data-label="Name"><%= currentUser.username %> </td>
            <td data-label="Name"><%= book.title %> </td>
            <td data-label="Age"><%= book.author %></td>
            <td data-label="Job"><%= book.genre %></td>
          </tr>
          <% }) %>
        </tbody>
      </table>
</div>

  <%- include('partials/footer') %>