<%- include('partials/header') %>
<div class="ui main text container">
  <div class="ui huge header">Library Management System</div>
  <div class="ui divided items">
    <% books.forEach(book => { %>
    <% if (book.status == 'Inactive') { %>
     
    
    <div class="item">
      <div class="image">
        <img src="<%= book.image %> " alt="" />
      </div>
      <div class="content">
        <a class="header" href="/books/<%= book._id %>">Name: <%= book.title %></a><br> 
        <a class="header" href="/books/<%= book._id %>">Author: <%= book.author %></a><br>
        <a class="header" href="/books/<%= book._id %>">Genre: <%= book.genre %></a><br>
        <a class="header" href="/books/<%= book._id %>">Release Date: <%= book.releasedate %></a>
        <div class="meta">
          <span>Information Updated at: <%= book.created.toDateString() %></span>
        </div>
        <div class="description">
          <p><%- book.body.substring(0,100) %>...</p>
        </div>
        <div class="extra">
          <a class="ui blue button" href="/books/<%= book._id %>"
            >View Book<i class="arrow alternate circle right icon"></i
          ></a>
          <% if (currentUser) { %>
            <% if (currentUser.usertype == 'Librerian') { %>
                <a class="ui teal button" href="/books/<%= book._id %>/edit">Edit</a>
                <% if (book.status === 'Active') { %>
                    <a class="ui grey button" href="/books/<%= book._id %>/deactivate">Deactivate</a>
                <% } else { %>
                    <a class="ui green button" href="/books/<%= book._id %>/activate">Activate</a>
                <% } %> 
                <form id="delete" action="/books/<%= book._id %>?_method=DELETE" method="POSt">
                    <button class="ui red button">DELETE</button>
                </form> 
            <% } else if(currentUser.usertype == 'Student') { %>
                <a class="ui green button" href="/books/<%= book._id %>/request">Request This Book</a>
            <% } %>
        <% } %>
        </div>
      </div>
    </div>
    <% } %>
    <% }) %>
  </div>
</div>
<%- include('partials/footer') %>
