<%- include('partials/header') %>
<div class="ui main text container">
  <div class="ui huge header">Library Management System</div>
  <div class="ui divided items">
    <% blogs.forEach(blog => { %>
    <div class="item">
      <div class="image">
        <img src="<%= blog.image %> " alt="" />
      </div>
      <div class="content">
        <a class="header" href="/blogs/<%= blog._id %>">Name: <%= blog.title %></a><br> 
        <a class="header" href="/blogs/<%= blog._id %>">Author: <%= blog.author %></a><br>
        <a class="header" href="/blogs/<%= blog._id %>">Genre: <%= blog.genre %></a><br>
        <a class="header" href="/blogs/<%= blog._id %>">Release Date: <%= blog.releasedate %></a>
        <div class="meta">
          <span>Information Updated at: <%= blog.created.toDateString() %></span>
        </div>
        <div class="description">
          <p><%- blog.body.substring(0,100) %>...</p>
        </div>
        <div class="extra">
          <a class="ui blue button" href="/blogs/<%= blog._id %>"
            >View Book<i class="arrow alternate circle right icon"></i
          ></a>
          <% if (currentUser) { %>
            <% if (currentUser.usertype == 'Librerian') { %>
                <a class="ui teal button" href="/blogs/<%= blog._id %>/edit">Edit</a>
                <% if (blog.status === 'Active') { %>
                    <a class="ui grey button" href="/blogs/<%= blog._id %>/deactivate">Deactivate</a>
                <% } else { %>
                    <a class="ui green button" href="/blogs/<%= blog._id %>/activate">Activate</a>
                <% } %> 
                <form id="delete" action="/blogs/<%= blog._id %>?_method=DELETE" method="POSt">
                    <button class="ui red button">DELETE</button>
                </form> 
            <% } else if(currentUser.usertype == 'Student') { %>
                <a class="ui green button" href="/blogs/<%= blog._id %>/request">Request This Book</a>
            <% } %>
        <% } %>
        </div>
      </div>
    </div>
    <% }) %>
  </div>
  <% if (currentUser) { %>
    <% if (currentUser.usertype == 'Student') { %>
      <a class="ui teal button" href="blogs/allbooks">REQUEST ALL BOOKS</a> 
    <% } %>
  <% } %>
</div>
<%- include('partials/footer') %>
