<%- include('partials/header') %>


<div class="ui main text container">
    <h1>Your Book Order Has been Sucessfully Recieved</h1>
    <table class="ui celled table">
        <thead>
            <tr>
            <th>Student User Name</th>
            <th>Book Name</th>
            <th>Author</th>
            <th>Genre</th>
            </tr>
        </thead>
        <tbody>
          <% lists.forEach(list => { %>
          <tr>
            <td data-label="Name"><%= list.name %> </td>
            <td data-label="Name"><%= list.title %> </td>
            <td data-label="Age"><%= list.author %></td>
            <td data-label="Job"><%= list.genre %></td>
          </tr>
          <% }) %>
        </tbody>
      </table>
</div>

  <%- include('partials/footer') %>