<%- include('partials/header') %>
<div class="ui main text container segment">
    <div class="ui huge header">
        Request form for <%= book.title %> 
    </div>
    <form class="ui form" action="/books/list" method="POST">
        <div class="field">
            <label for="">Book Name</label>
            <input type="text" name="list[title]" value="<%= book.title %>">
        </div>
        <div class="field">
            <label for="">Author</label>
            <input type="text" name="list[author]" value="<%= book.author %>">
        </div>
        <div class="field">
            <label for="">Genre</label>
            <input type="text" name="list[genre]" value="<%= book.genre %>">
        </div>
        <div class="field">
            <label for="">Student User Name</label>
            <input type="text" name="list[name]" value="<%= currentUser.username %>">
        </div>
        <input class="ui secondary button" type="submit" value="SUBMIT">
    </form>
</div>
<%- include('partials/footer') %>