<%- include('partials/header') %>

<div class="ui main text container segment">
    <div class="ui huge header">
        <%= book.title %> 
    </div>
    <div class="ui top attached">
        <div class="item">
            <img class="ui centered rounded image" src="<%= book.image %>" alt="">
            <div class="content"><span><%= book.created.toDateString() %> </span></div>
        </div>
        <div class="description">
            <p><%- book.body %> </p>
        </div>
        <% if (currentUser) { %>
            <% if (currentUser.usertype == 'Librerian') { %>
                <a class="ui teal button" href="/books/<%= book._id %>/edit">Edit</a>
                <% if (book.status === 'Active') { %>
                    <a class="ui grey button" href="/books/<%= book._id %>/deactivate">Deactivate</a>
                <% } else { %>
                    <a class="ui green button" href="/books/<%= book._id %>/activate">Activate</a>
                <% } %> 
                <form id="delete" action="/books/<%= book._id %>?_method=DELETE" method="POSt">
                    <button class="ui red button">DELETE</button>
                </form> 
            <% } else if(currentUser.usertype == 'Student') { %>
                <a class="ui green button" href="/books/<%= book._id %>/request">REQUEST THIS BOOK</a>
            <% } %>
        <% } %>
        
    </div> 
</div>
<%- include('partials/footer') %>